<%- include("parts/head")  %> 
<%- include("parts/nav")  %> 

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8 my-3">
                <h1 class="text-center">Agenda</h1>
                <p class="text-center lead">Listagem dos seus contatos</p>

                <%- include("parts/messages") %> 

                <div class="responsive-table">
                    <table class="table my-3">
                        <% if (contatos.length > 0) { %>
                            <% contatos.forEach(contato => { %>
                                <tr>
                                    <td><%= contato.nome %></td>
                                    <td><%= contato.sobrenome %></td>
                                    <td><%= contato.telephone %></td>
                                    <td><%= contato.email %></td>
                                    <td><a href="/contato/<%= contato._id %>">Editar</a></td>
                                    <td><a class="text-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
                                </tr>
                            <% }) %>
                        <% } else { %>
                            <p>Ainda não há nenhum contato cadastrado.</p>
                        <% } %>
                        <!-- <tr>
                            <td>Yoko</td>
                            <td>Yamatsu</td>
                            <td>54845545451</td>
                            <td>yokoyamatsu2022@gmail.com</td>
                        </tr> -->
                        <!-- <tr>
                            <td>Alex</td>
                            <td>Castillo</td>
                            <td>58118465174</td>
                            <td>alexcastillo2022@gmail.com</td>
                        </tr>                         -->
                    </table>
                </div>

            </div>

            <div class="col-lg-2"></div>
        </div>
    </div>

<%- include("parts/footer")  %>     